ul.nav
  li
    a href='/planning/lists' Planning
  li
    a href='/finance' Finance
  li
    a href='/recipes' Recipes
  li
    a href='/blog' Blog

ul.session
  -if env['warden'].authenticated?
    li
      form action="/session" method="POST"
        input type="hidden" name="_method" value="DELETE"
        input.link type="submit" value="Logout" 
  -else
    li
      a href='/session/new' Login
