doctype html 
html
  head 
    meta charset="utf-8"
    title Just Do It 
    link rel="shortcut icon" href="/favicon.ico"
    link rel="stylesheet" media="screen, projection" href="/stylesheets/style.css"
    /[if lt IE 9] 
      script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"
  body 
    header
      h1.logo Just Do It 
      div.navigation.logo
        == slim :'shared/nav'

    == yield
