form.update action="/task/#{task.id}" method="POST"
  input type="hidden" name="_method" value="PUT"
  - if task.completed_at.nil?
    input type="submit" value="  " title="Complete Task"
  - else
    input type="submit" value="V" title="Uncomplete Task"
