@mixin button($bcolor, $tcolor) {
  @include base-button($bcolor);
  width: 110px;
  margin-left: 4px;
  color: $tcolor;
}

@mixin delete-button($bcolor, $tcolor) {
  @include base-button($bcolor);
  height: 22px;
  margin: 0px;
  font-size: small;
  color: $tcolor;
}

@mixin update-button($bcolor, $tcolor) {
  @include base-button($bcolor);
  width: 22px;
  margin: 0px;
  height: 22px;
  font-size: small;
  color: $tcolor;
}

@mixin base-button($color) {
  font-variant: small-caps;
  font-weight: bold;
  background: $color;
  border: 1px solid;
  border-color: 
    lighten($color, $color-step) darken($color, $color-step) 
    darken($color, $color-step) lighten($color, $color-step);
  cursor: pointer;
}

@mixin link-text {
  font-size: small;
  font-variant: small-caps;
  font-weight: bold;
}
