body {
  font-family: Helvetica, Arial, sans-serif;
  font-variant: small-caps;
  font-size: medium;
  padding-top: 60px;
}

h1, h2, h3, h4, h5 {
  color: $gray;
  font-weight: bold;
  font-size: large;
}

h1 {
  font-size: x-large;
  text-align: center;
}

h2 {
  color: $infinity-orange;
}
h3 {
  color: $darkgray;
  border-bottom: 1px solid $darkgray;
}

header {
  position: fixed;
  top: 0px;
  z-index: 9999;
  width: 100%;
  background-color: white;
  h1.logo {
    padding: 40px 0px 0px;
    margin: 0px auto;
    background: transparent url(/images/InfinityKey.gif) 50% 10% no-repeat;
  }
  div.navigation {
    width: 99%;
    height: 35px;
    border-bottom: solid 5px $lightgray;
    position: absolute;
    top: 0px;
    ul.nav, ul.session {
      @include link-text;
      padding: 2px;
      width: auto;
      list-style: none;
      position: absolute;
      top: 0px;
      li {
        padding: 2px 5px 2px 5px;
        display: inline-block;
        border-left: solid 1px $lightgray;
      }
      li:first-child {
        border-left: none;
      }
      a {
        text-decoration: none;
        color: $gray;
      }
      a:hover {
        color: $infinity-orange;
      }
    }

    ul.nav {
      left: 0px;
    }
    ul.session {
      right: 0px;
      text-align: right;
    }

    input[type=submit] {
      @include link-text;
    }
  }
}
