.completed {
  text-decoration: line-through;
}

.tasks {
  padding: 0px;
  list-style: none;
  li.completed form.update input {
    color: $infinity-green;
  }
}

.task {
  position: relative;
  margin-left: 5px;
  padding: 2px;
  border-bottom: dotted 1px #ccc;
  form {
    display: inline-block;
  }
}

.lists {
  padding: 0px;
  list-style: none;
  overflow: hidden;
  form {
    display: inline-block;
    float: right;
  }
}

.list {
  float: left;
  width: 23%;
  margin: 1%;
  border-top: solid 5px #ccc;
}

