h2 Finance
div.balance
  dl.totals
    dt.total_income Total Income
    dd.total_income +0.00
    dt.total_expenses Total Expenses
    dd.total_expenses -0.00
    dt.total_balance Total Balance
    dd.total_balance +0.00

div.accounts
  ul.accounts
    - balance.accounts.each do |account|
      li.account id=account.id
        == slim :'account/show', locals: { account: account }
    li.account
      h3 New account
      == slim :'account/new'
