h3 
  = account.name 
  == slim :'finance/account/destroy', locals: { account: account }
== slim :'finance/entry/new', locals: { account: account }
== slim :'finance/entry/index', locals: { entries: account.entries }
