form.login action="/session" method="POST"
  dl
    dt Username
    dd
      input type="text" name="user[username]"
    dt Password
    dd
      input type="password" name="user[password]"
    dt
    dd
      input type="submit" name="Login" value="Login"
